
body{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(181,54,120);
}
.container{
  height: fit-content;
  width: 500px;
  background-color: white;
  box-shadow: 0 0 5px;
  padding : 15px;
}
.container h1{
  text-align: left;
  font-size: 25px;
}
.form-name{
  margin-top: 20px;
}
.box-check-gender{
  margin-top: 10px;
}